<select name="status">
  <option selected="selected">Välj alla</option>
  @foreach (SickNoteStatus SickNoteStatus in ViewBag.ListOfStatuses)
  {
    <option value="@SickNoteStatus.StatusId">@SickNoteStatus.StatusName</option>
  }
</select>