	<body>
			<div id="content">
				<section id="mainColumn">
					<h2>Kontaktuppgifter</h2>
					<p><span class="label">Besöksadress:</span> Storgatan 420</p>
					<p><span class="label">Postadress:</span> Box 10, 909 00 CodeSec</p>
					<p><span class="label">Mail:</span> sjuklingen@codesec.nu</p>
					<p><span class="label">Telefon:</span> 432-500 10 00</p>
				</section><!-- End Left -->
				
                @await Component.InvokeAsync("PictureColumn")

				<footer>
					&copy; CodeSec All rights reserved.
				</footer>
			</div><!-- End Content -->
	</body>
