@{
    Layout = "_ExecutiveEmployeeLayout";
  @model SickNote
}
<body>
    <div id="content">
        <h2>Tack för din anmälan</h2>
        <p class="info">Du är inloggad som personal</p>

        <p>
            Anmälan har nu skickats in till Arbetsplatsen. <br />
            Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
            Ange då nummer: @Model.RefNumber
        </p>

        <p><a class="button" asp-controller="ExecutiveEmployee" asp-action="StartExecutiveEmployee">Avsluta rapporteringen</a></p>

        <footer>
            &copy; CodeSec All rights reserved.
        </footer>
    </div><!-- End Content -->
</body>