@{ 
    @model LoginModel
}

	<body>
        <div id="content">
            <section id="mainColumn">
                <h2>Inloggning för CodeSecs personal</h2>
                <p class="info">En säker tjänst från CodeSecs IT-avdelning</p>

                <form method="post" asp-controller="Home" asp-action="Login">
                    <p>
                        <input type="hidden" name="isSubmitted" value="true" />
                    </p>
                    <p>
                        <span class="label">Användarnamn:</span><br />
                        <input asp-for="UserName" type="text" />
                      <span asp-validation-for="UserName"></span>
                    </p>
                    <p>
                      <span class="label">Lösenord:</span><br />
                      <input asp-for="Password" type="password" />
                      <span asp-validation-for="Password"></span>
                    </p>
                    <p>
                        <input class="button" type="submit" value="Logga in" />
                        <br />
                    </p>
                </form>
            </section><!-- End Left -->

            @await Component.InvokeAsync("PictureColumn")

            <footer>
                &copy; CodeSec All rights reserved.
            </footer>
        </div><!-- End Content -->
	</body>
